[submodule "genetic-startups-web"]
	path = genetic-startups-web
	url = https://github.com/romenrg/genetic-startups-web.git
[submodule "genetic-startups-windows"]
	path = genetic-startups-windows
	url = https://github.com/romenrg/genetic-startups-desktop-csharp-dotnet
